@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --accent-color: #415c4e;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #eee;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #fff;
    border-radius: 20px;
    padding: 100px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.auth form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auth h1 {
    font-size: 2rem;
    color: var(--accent-color);
}

.auth form input {
    border: none;
    background: #eee;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 16px;
}

.auth form input:focus {
    outline: none;
}

.auth button {
    border: none;
    color: #fff;
    background: var(--accent-color);
    border-radius: 50px;
    padding: 10px;
    width: 50%;
    font-size: 16px;
    cursor: pointer;
}

.auth button:active {
    transform: scale(0.99);
}

.auth .link {
    color: var(--accent-color);
}

.error-message,
.logout {
    color: #df4242;
}

.dashboard {
    padding: 20px 20px 20px 300px;
}

.site-list,
.plant-list {
    display: flex;
}

.site-card,
.plant-card {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    cursor: pointer;
    margin: 20px;
}


.sidebar {
    position: fixed;
    top: 20px;
    bottom: 20px;
    left: 20px;
    width: 250px;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.logout {
    cursor: pointer;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000054;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: 600px;
    max-height: 80vh;
    overflow: auto;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background: #fff;
    border-radius: 20px;
    padding: 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}